body{
  background: url("../images/lake-background.jpg") no-repeat fixed center;
}

nav{
  box-shadow: none;
}

.brand-logo{
  font-family: 'Kaushan Script', cursive;
}

.resize {
    width: 60px;
    height: auto;
}

.resize {
    width: 60px;
    height: auto;
}
